* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: black;
} */

#background {
    background-image: url(../assets/theater.jpg);
    background-position: bottom;
    background-size: cover;
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
}

#fight-header {
    background-color: crimson;
    color: white;
    text-align: center;

}

.fighter {
    height: 300px;
    width: 40%;
    max-width: 200px;
    position: fixed;
    top: 10%;
    background-size: contain;
    background-repeat: no-repeat;

    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: translateY(0);
}
.fighter:hover {
    animation: shakeanimation;
    animation-duration: 1s;
    transform: rotate(0deg);
  }
  @keyframes shakeanimation {
    15%, 85% {
      transform: rotate(5deg);
    }
    
    25%, 75% {
      transform: rotate(-5deg);
    }
    30%, 50%, 70% {
      transform: rotate(2deg);
    }
    40%, 60% {
      transform: rotate(-2deg);
    }
  }

@keyframes bounce {
    25% {
        transform: translateY(10px);
    }

    30% {
        transform: rotate(3deg);
    }

    40% {
        transform: rotate(-3deg);
    }

    60% {
        transform: rotate(0deg);
    }

    80% {
        transform: scale(1.05);
    }

    90% {
        transform: scale(1);
    }
}

#movie1 {
    left: 20%;
}

#movie2 {
    right: 20%;
}

#fight-bet h2 {
    animation: wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}

@keyframes wiggle {
    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

#fight-bet h2 {
    position: fixed;
    top: 70%;
    left: 50%;
    background-color: black;
    border-style: solid;
    border-color: gold;
    border-radius: 5px;
    color: white;
    width: 150px;
    margin-left: -95px;
    padding: 20px;
    cursor: pointer;
}

#explosion,
.fireworks {
    position: fixed;
    height: 300px;
    width: 250px;
    top: 10%;
    left: 50%;
    margin-left: -125px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

#explosion {
    background-image: url(../assets/explosion.gif);
}

.fireworks {
    background-image: url(../assets/fireworks.gif);

}

#f1 {
    left: 25%;
}

#f2 {
    left: 75%
}

#round-info {
    position: fixed;
    height: fit-content;
    width: 250px;
    top: 10%;
    left: 50%;
    margin-left: -125px;
    background-color: Black;
    color: white;
    text-align: center;
    padding: 20px 0;
    opacity: 0;
}

.round {
    margin: 10px;
}

#round-results {
opacity: 0;
}

#res1, #res2, #category {
    border-style: solid;
    border-color: gold;
    position: fixed;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 1.4em;
    padding: 5px;
    text-align: center;
}

#res1 {
    top: 65%;
    left: 5%;
}

#res2 {
    top: 65%;
    right: 5%;
}

#category {
    top: 50%;
    right: 50%;
    width: 200px;
    margin-right: -100px;
    font-size: 1.2em;
}


@media only screen and (max-width: 900px) {

    #movie1 {
        left: 5%;
    }

    #movie2 {
        right: 5%;
    }
}
