* {
    margin: 0;
    padding: 0;
}
#background {
    /* width: 100vw;
    height: 100vh; */
}
h1, h2, .login {
    text-align: left;
    color: antiquewhite ;
    text-align: left;
    font-family: Bungee;
}
body {
    background-image: url(../assets/index.jpg);
    background-position: center;
    background-size: cover;
    background-color: blanchedalmond;
}
form {
padding: 50% 0;

}