.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .navbar ul {
    margin: 20px;
    list-style-type: none;
  }

  .navbar li {
    text-align: end;
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: #ffffff;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    float: right;
    height: auto;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover:not(.active) {
    background-color: #111111;
  }
  
  .active {
    background-color: #5d6172;
    margin-left: 40px;
  }
  .active:hover {
    background-color: black;
  }

  nav .brand-logo { 
    font-size: 2rem; 
    float: left;
  }  
  .navbar .brand-logo { 
    font-size: 2rem;
    float: left;
    text-align: left;
  }  
  