* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#background {
    background-image: url(../assets/popcorn.jpg);
    background-position: bottom;
    background-size: cover;
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
}
#header {
    color: black;
    text-align: center;
    font-family: Bungee;
}

#list {
    background-color: rgba(219, 219, 219, 0.781);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.watchlistInfo {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    padding: 20px;
    position: relative;
}

.poster {
    background-color: sienna;
    float: left;
    height: 90%;
    width: 100px;
    background-size: cover;
    background-position: center;
}

.title {
    height: 20%;
    font-size: 1.5em;
    
}

.plot {

    padding: 5px;
    height: 50%;
    overflow: hidden;
}

.watched {
    height: 30px;
    width: 7%;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transform: rotate(0deg);
    animation: popWiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes popWiggle {
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 700px) {
    .title {
        display: none;
    }
    .plot {
        display: none;
    }
    .poster {
        float: none;
        margin: 0 auto;
    }
    .watched {
        width: 50px;

    }
}